.nav-menu {
  text-align: right;
  /* text-decoration: none; */
  /* text-decoration-color: blue; */
}
.nav-spacing {
  margin: 0 0 0 10px;
}
      A{text-decoration: none;} a:link, a:visited {color: blue}
